name: Build and Publish Docker Image

on:
  push:
    branches:
      - main
      - baseline

jobs:

  build:
    name: Build Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/api-filmes:latest .

  publish:
    name: Publish Image to Docker Hub
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/api-filmes:latest

  verify:
    name: Verify Docker Hub Image
    runs-on: ubuntu-latest
    needs: publish

    steps:
      - name: Pull image from Docker Hub
        run: docker pull ${{ secrets.DOCKERHUB_USERNAME }}/api-filmes:latest

      - name: Show image info
        run: docker image inspect ${{ secrets.DOCKERHUB_USERNAME }}/api-filmes:latest
